
.one_line_textCutter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.two_line_textCutter {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}